aiofiles
aiohttp==3.6.3
bs4
covid
cowpy
dnspython
emoji
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
hachoir
heroku3
html-telegraph-poster
instaloader
motor
natsort
oauth2client
Pillow==7.1.0
psutil
pybase64
git+https://github.com/code-rgb/pyrogram.git@verlock
pySmartDL
python-dotenv
pytz
rarfile
removebg
requests
search-engine-parser>=0.6.2
selenium==3.141.0
setuptools>=40.3.0
spamwatch
speedtest-cli
stagger
telegraph
tgcrypto
urbandict==0.5
wget
wikipedia
youtube_dl>=2020.09.20
git+https://github.com/Nekos-life/Async-nekos.life-wrapper
PyYAML>=5.3.1
pymediainfo>=5.0.3