aiofiles>=0.6.0
aiohttp>=3.7.3
beautifulsoup4>=4.9.1
covid>=2.4.0
cowpy>=1.1.0
dnspython>=2.0.0
emoji>=0.6.0
gitpython>=3.1.11
google-api-python-client>=1.12.8
google-auth-httplib2>=0.0.4
google-auth-oauthlib>=0.4.2
googletrans==3.1.0a0
hachoir>=3.1.1
heroku3>=4.2.3
html-telegraph-poster>=0.2.31
instaloader>=4.5.5
motor>=2.3.0
natsort>=7.1.0
oauth2client>=4.1.3
Pillow==8.1.0
psutil>=5.7.3
pybase64>=1.1.1
PyDictionary>=2.0.1
git+https://github.com/code-rgb/pyrogram.git@x21
pySmartDL>=1.3.4
python-dotenv>=0.15.0
pytz>=2020.4
rarfile>=4.0
removebg>=0.4
requests>=2.25.0
git+https://github.com/code-rgb/search-engine-parser
selenium==3.141.0
setuptools>=40.3.0
spamwatch>=0.3.0
speedtest-cli>=2.1.2
stagger>=1.0.0
telegraph>=1.4.1
tgcrypto
urbandict>=0.5
wget>=3.2
wikipedia>=1.4.0
youtube_dl>=2021.1.8
git+https://github.com/Nekos-life/Async-nekos.life-wrapper
PyYAML>=5.3.1
pymediainfo>=5.0.3
ujson>=4.0.1
youtube-search-python==1.3.6
feedparser>=6.0.2
